@inject SignInManager<UserEntity> SignInManager
@inject AccountService _AccountService
@{
    ViewData["UserFullName"] = "";
    string profileImgPath = "";
    if (SignInManager.IsSignedIn(User))
    {
        var user = await _AccountService.GetUserAsync(User);

        if (user != null)
        {
            ViewData["UserFullName"] = $"{user.FirstName} {user.LastName}";
            ViewData["UserEmail"] = user.Email;
        }

        profileImgPath = await _AccountService.GetProfileImgSrc(User);
    }

    string theme = ViewData["ThemeMode"] is string str ? str : "";
}

<header id="head">
    <div id="backdrop"></div>
    <div class="container">
        <a class="logo light" asp-action="Home" asp-controller="Default"><img src="~/images/logos/silicon-logo-light-mode.svg" alt="Silicon" /></a>
        <a class="logo dark" asp-action="Home" asp-controller="Default"><img src="~/images/logos/silicon-logo-dark-mode.svg" alt="Silicon" /></a>

        <nav id="header-navigation">
            <div class="header-subdiv">
                @if (!SignInManager.IsSignedIn(User))
                {
                    <a class="responsive-menu-button" asp-action="SignIn" asp-controller="Auth"><i class="fa-regular fa-arrow-right-to-bracket"></i>Sign in</a>
                    <a class="responsive-menu-button" asp-action="SignUp" asp-controller="Auth"><i class="fa-regular fa-user"></i>Sign up</a>
                }
                else
                {
                    <div class="responsive-account-menu">
                        <img class="responsive-profile-pic" src="@profileImgPath" alt="profile" />
                        <h5>@ViewData["UserFullName"]</h5>
                        <p>@ViewData["UserEmail"]</p>
                    </div>

                    <a class="responsive-menu-button" asp-controller="Account" asp-action="AccountSettings" asp-route-menuType="details"><i class="fa-regular fa-gear"></i>Account Details</a>
                    <a class="responsive-menu-button" asp-controller="Account" asp-action="AccountSettings" asp-route-menuType="security"><i class="fa-regular fa-lock"></i>Security</a>
                    <a class="responsive-menu-button" asp-controller="Auth" asp-action="SignOut"><i class="fa-sharp fa-regular fa-right-from-bracket"></i>Sign Out</a>
                }
                <a asp-action="Home" asp-controller="Default">Overview</a>
                @if (SignInManager.IsSignedIn(User))
                {
                    <a asp-action="Courses" asp-controller="Course">Courses</a>
                    if (User.IsInRole(RoleNames.roleAdmin))
                    {
                        <a asp-action="ControlPanel" asp-controller="Admin">Control Panel</a>
                    }
                }
                else
                {
                    <a asp-action="Home" asp-controller="Default">Features</a>
                }
                <a asp-action="Contact" asp-controller="Contact">Contact</a>
            </div>

        </nav>

        <div class="btn-switch">
            <a>Light</a>
            <label class="switch">
                <input id="dark-mode-switch" type="checkbox" @(theme == "dark-mode" ? "checked" : "")>
                <span class="slider round"></span>
            </label>
            <a>Dark</a>
        </div>
        
        @if (!SignInManager.IsSignedIn(User))
        {
            <div class="account-buttons">
                <a class="btn-theme-secondary btn-small" asp-action="SignIn" asp-controller="Auth"><i class="fa-regular fa-arrow-right-to-bracket"></i>Sign in</a>
                <a class="btn-theme-primary btn-small" asp-action="SignUp" asp-controller="Auth"><i class="fa-regular fa-user"></i>Sign up</a>
            </div>
        }
        else
        {
            <div class="account-buttons">
                <a asp-action="AccountSettings" asp-controller="Account" asp-route-menuType="details"><img src="@profileImgPath" alt="profile" /></a>
            </div>
        }

        <button id="hamburger-button" class="btn-mobile"><i class="fa-regular fa-bars"></i></button>
    </div>
</header>